<br>

<div class="bg-white">
  <div class="container" style="max-width: 768px;">
    <a class="nav-link text-primary py-3" href="<%= posts_path %>">
      <i class= "bi bi-chevron-left">
      </i>
         My Goals
    </a>
  </div>
</div>

<br>


<div class="container mb-5" style="max-width: 768px;">
  <div class="card me-card  mx-auto">

      <div class="card-header bg-white show-flex-space-between ">




        
        <% if @post.completed? %>          
          <%= button_to post_path( @post, post: { completed: 'false' } ) , class: "btn btn-success  mx-3 font-sm" ,method: :put  do %>
          <i class="bi bi-check-lg"> Done</i>
          <% end %>
        <% else %>
          <%= button_to post_path( @post, post: { completed: 'true' } )  , class: "btn btn-outline-secondary  mx-3 font-sm" , method: :put  do %>
          <i class="bi bi-check-lg"> Mark Complete</i>
          <% end %>
        <% end %>
       
        

        <div class="d-grid gap-2 d-md-flex justify-content-md-end show-display-flex-align-center d-none d-sm-block">
              <a class="btn text-secondary btn-sm" href="<%= edit_post_path %>" > 
                <i class="bi bi-pencil-square">Edit</i>
              </a>
              <form data-turbo-confirm="Are you sure?" class="button_to" method="post" action="<%= post_path %>">
                <input type="hidden"  name="_method" value="delete" autocomplete="off">
                <button class="btn text-secondary btn-sm" type="submit">
                  <i class="bi bi-trash3">Delete</i>
                </button>  
              </form>
        </div>
      </div>        
        
 
        
    <div class="card-body mx-3 ">
          <h3 class="card-title "> <%= @post.title %> </h3> 
          <br>
              <i class="bi bi-calendar-event text-secondary"></i>
              <span class="mx-1 text-secondary font-sm">Deadline date</span>              
              <span style="margin-right: 50px;" ><%= @post.date.to_date.to_formatted_s(:long_ordinal) %></span>      
              <div class="d-inline-flex"> 
                <span class="text-secondary font-sm">Priority</span>
                <span class> 
                  <% if @post.priority == 1 %>
                    <i class=" fst-italic col-3 bi bi-arrow-down"> LOW</i>
                  <% else %>
                    <% if @post.priority == 2 %>
                      <i class=" fst-italic col-3 bi bi-arrow-up">MEDIUM</i>
                    <% else %>
                      <i class="fst-italic col-3 bi bi-arrow-up ">HIGH</i>
                    <% end %>
                  <% end %> 
                </span>    
              </div>
          <div class="text-secondary mt-4 font-sm"> Body </div>
          <div class="card-text mt-2" style="max-width: 540px"><%= @post.body  %></div>       
    </div>
    
</div>


